html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#headline{
	
	text-align:center;
}

#container{
	
	width:100%;
	height:100%; 
	
}


#footer{
	
	bottom:0px;
	
}

#about{

	border:2px solid black; 
	margin:center;
}


#addExp{
	border:2px solid blue;
	margin:center; 
	padding:40px; 

}

.blurb{
	margin:center;
	padding:50px;

}
	
.announcement{

	margin:auto;
	padding:40px; 
	text-align:center;	


}

.announce{

	font-size: 35px;

}

.form_field{
	
	margin:center;
	padding:10px;

}



.info{

	background-color: #01b050; 
	font-size: 35px;
	margin: 0px;
	text-align:center;
	list-style-type: none;
	

}

#map-options{
	width:100%; 
	height:80px;
	border: solid black 2px;

}
#options{

	padding:20px;

} 
