html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#headline{
	
		text-align:center;
}

#container{
	
	width:100%;
	height:100%; 
	
}


#footer{
	
	bottom:0px;
	
}

#about{

	border:2px solid black; 
	margin:center;
	padding:15px;
	

}


#addExp{
	border:2px solid blue;
	margin:center; 
	padding:40px; 

}

#pad40{

	padding:40px;

}
