<!Doctype html>
{% load staticfiles %} 
<html>
	<head>
	
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> 
	<link rel="stylesheet" type="text/css" href="{% static 'mapper/css/map.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'mapper/css/index.css' %}">
	
	</head> 
	<body>
<nav class="navbar navbar-default" style="margin-bottom:0;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Trek The Planet</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/vlogs">Vlog</a></li>
        <li><a href="/pictures">Pictures</a></li>
        <li><a href="/experience">Experience</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/contact">Contact</a></li>       


      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% for message in messages %}
	<li class="{{ message.tags  }}"> 
		{{ message }}
	</li> 
{% endfor  %}
{% block content%}
{% endblock content %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html> 



