{% extends "base.html"  %}
{% load staticfiles  %}
{% block content %}
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="{% static 'mapper/js/map.js' %}"></script> 
	<script type="text/javascript" src="{% static 'mapper/js/index.js' %}"></script> 
	<script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCE2XyqKR9ZvFAClV-O-YxdshiBNez37Q&callback=initMap"></script>
	
	{% if coordinates %}
		<script type="text/javascript">
		coordinates = {{ coordinates | safe}}
		</script>
		{% comment %}
		{% for coor in coordinates %}
		
			<input type="hidden" name="coordinates" class="coordinates" value="{{coor}}"/>
			coordinates = {{ coordinates | safe }}

		{%endfor%}
		{% endcomment %}
	 {% else %}
		<p> There are no coordinates </p> 
	{% endif %}
	<div id="container">
	<!--	<h3 id="headline"> TechnoHippy & CyberPunk Saving the World by First Traveling Across It </h3> --> 
		<div id="map-options">
			<div class="option">
			<label>Path Selection</label> 
			<div>
				<input type="radio" class="singleradiobox" name="choice" /><label>Cost</label> 
				<input type="radio" class="singleradiobox" name="choice" /><label>Distance</label>
			</div>
		</div>
			
			
		</div> 
		<div id="trek-map"></div> 
	</div>
{% endblock %}
